.SunAndMoon {
    display: flex;
    width: 3vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 25px;

    outline: none;
    transition: 0.5s ease;
    margin-bottom: 5vh;
}

.SunAndMoon:hover {
    background-color: rgb(255, 0, 0);
}
.meu-botao {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  position: relative; /* necessário para posicionar a linha */
}

.meu-botao::after {
  content: "";
  position: absolute;
  left: 50%; /* começa no centro */
  bottom: 0; /* fica embaixo do botão */
  width: 0; /* começa sem largura */
  height: 2px;
  background-color: #756ED9;
  transition: all 0.3s ease;
}

.meu-botao:hover::after {
  left: 0;   /* vai para a esquerda */
  width: 100%; /* cresce até cobrir toda a largura */
}
